
nav{
    padding-top: 42px;
    padding-right: 124px;
    padding-left: 156px;
    display:flex;
    align-items: center;
    background-color:#2D25A0;
    
}
nav a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 16px;
    margin-right: 36px;
}
.nav-button{
    text-decoration: none;
    list-style: none;
    display:flex;
}
nav button{
    margin-left: 450px;
}
.login{
    background-color: #E02C6D;
    color:white;
    font-size: 16px;
    display: flex;
    
    align-items: center;
    padding: 10px 24px;
    justify-content: space-between;

}
