/* ----------
    fonts 
------------*/
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&display=swap');

/* -----------------
common utilities
------------------ */
body{
    background-color: white;
    font-family: 'Arsenal', sans-serif;
}
.button{
    background-color:#E02C6D;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
    
}
.button a{
    background-color:#E02C6D;
    text-decoration: none;
    color:#FFFFFF;
    font-size: 16px;
}
#banner-button{
    margin-bottom: 16px;
}
/* -----------------
top banner properties
------------------ */
.top-container-bg{
    background-color:#2D25A0;
    width:100%;
    /* height:677px; */
    margin:0px;
    margin-bottom: 70px;
}
.top-container{
    display: flex;
    justify-content: space-between;

}
.title{
    font-size: 64px;
    margin-left: 156px;
    margin-top: 207px;
    color:white;
   
}
.image-top-right{
    width: 556.01px;
    height: 438px;
    margin-top: 153px;
    margin-bottom: 86px;
}

/*--------------------- 
         transition
---------------------- */
.image-top-right:hover{
    transform: scale(1.4);
}


/*-----------------------------
 players profile Properties
 ----------------------------------*/

.players{
    margin-left: 180px;
    margin-right: 210px;
    margin-bottom:165px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:27px;
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
}
.player{
    width: 330px;
    height: 474px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.player .thumbnail img{
    width: 300px;
    height: 256px;
}
.player-info{
    margin-left:5px;
}
.player-name{
    font-size:28px;
    margin-top:16px;
}
.player-bio{
    color: #6C6C6C;
    font-size:16px;
    margin-top:10px;
}

/* -----------------
Highlights Properties
------------------ */
.highlights{
    display:flex;
}
.highlights-data{
    width: 469px;
    height: 309px;
    margin-left:182px;
}
.title-highlights{
    font-weight:700;
    font-size: 48px;
    
}

.highlights-image img{
    width: 567px;
    height: 427px;
    margin-left: 66px;
    
}

/* animation for extra section */
@keyframes sliding{
    from{
        left:0px;

    }
    to{
        left:400px;
    }
}

.platform{
    height:100px;
    width:1000px;
    
}
.ball img{
    height: 200px;
    width:200px;
    position: relative;
    animation: sliding 5s ease-in-out 0.5s infinite alternate;
    animation-play-state: running;
}
/*----------------------
     footer Properties
-------------------------*/
footer{
text-align: center;
margin-top:158px;
}
.football-logo img{
    width: 483.87px;
    height: 213px;
    
}
.social-midea-icon img{
    color:#969BAB;
    height:17.07px;
    width:17.07px;
}
.copyright{
    font-size: 18px;
}